*{
    margin: 0;
    padding: 0;  
    font-family: 'Jost', sans-serif;  
}
h1, h3{
    text-transform: uppercase;    
}


/* Navbar section */
.logo{
    height: 60px;
    margin-left: 3rem;
    margin-right: 3rem;
}
.navbar{
    background: rgba(255,255, 255, 0.5) !important;    
}
.navbar-nav{    
    margin-right: 1rem;
}
.nav-item{
    padding-left: 1rem;
}
.nav-link{
    font-size: 1.125rem;
    font-weight: 600;
    color: #3f98fd;
    text-transform: uppercase;        
}
.active{
    color: #d3be00 !important;
}
.search{
    color:#3f98fd ;
    margin-right: 1rem;
}
.btn-comm{
    width: 80px;
    border: none;
    background: transparent;
}
.call{
    display: flex; 
    margin-right: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-left: 2px solid #d3be00;
    align-items: center;
}
.call-i img{
    width: 50px;
    height: 50px;
}
@media screen and (max-width:1330px) {
    .call{
        display: none;
    }
}
.btn{
    border: none;
    transition: 0.3s;
}
.btn:hover{
    transform: scale(1.1);
    border: none;
}
.call-text{
    font-size: 1rem;
    text-transform: uppercase;
    color: #3f98fd;
    font-weight: 700;
}
.phone-number{
    color: #3f98fd;
    font-size: 1.125rem;
    font-weight: 800;
}
a{
    position: relative;
    display: block;       
    transition: 0.5s;    
}
a::after{
      position: absolute;
      content: "";
      top: 80%;
      left: 0;
      width: 100%;
      height: 3px;
      background: #3498db;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.5s;
}
a:hover{
      color: #d3be00 !important;
}
a:hover::after{
      transform: scaleX(1);
      transform-origin: left;
}
a:hover::after span{
    transform: none;
}
.modal-body{
    justify-content: center;
}
.modal-title{
    color: #3f98fd;
}
.btn-primary-1{
    background-color: #3f98fd;
    color: #fff;
}
.btn-primary-1:hover{
    border:1px solid #3f98fd;   
}
.search{
    width: 50%;
    border-radius: 5px;
    font-size: 1.125rem;
    border-color: #d3be00;
}

/* Hero section - carosel */
.hero{
    position:relative;
}
.hero::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, 0.6);
    z-index: 1;
}
.carosel-item{
    position: relative;    
}
.carousel-caption{
    position: absolute;
    top: 35%;
    z-index: 2; 
}
.carosel-heading{
    font-size: 6rem;
    color: #d3be00;
    font-weight: 800;
}
.carosel-heading-2{
    font-size: 5rem;
    color: #3f98fd;
    font-weight: 700;
}
.carosel-heading-5{
    font-size: 2rem;
    font-weight: 600;
}
@media screen and (max-width: 1200px) {
        .carosel-heading{
            font-size: 5rem;  
    }
        .carosel-heading-2{
            font-size: 4rem;  
    }
        .carosel-heading-5{
        font-size: 2rem;  
    }  
}
@media screen and (max-width: 992px) {
    .carosel-heading{
        font-size: 4.5rem;  
}
    .carosel-heading-2{
        font-size: 3.5rem;  
}
    .carosel-heading-5{
    font-size: 1.85rem;  
} 
}
@media screen and (max-width: 876px) {
    .carosel-heading{
        font-size: 4rem;  
}
    .carosel-heading-2{
        font-size: 3rem;  
}
    .carosel-heading-5{
    font-size: 1.5rem;  
}  
}



/* About section */
#about{
    
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.about-img{
    position: relative;
    display: flex;
    justify-content: flex-end;    
}
.about-img-1{
    position: absolute;   
    border-radius: 10px;
    width: 60%; 
    top: 20px;
    z-index: 5;  
}
.about-img::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 200px;
    background: #3498db;
    border-radius: 10px;
    left: 0;
    top: 50px;
    z-index: 7;
}
.about-img-2{   
    position: absolute;  
    border-radius: 10px;
    width: 85%; 
    top: 300px;
    left: 0px;
    z-index: 6;  
}

/* About - right side */
.about-item h1{
    font-size: 3rem;
    letter-spacing: -3px;
    color: #3498db;
    font-weight: 600;
}
.about-item h3{
    font-size: 1.25rem;
    font-weight: 600;    
    color: #d3be00;
}
.about-item p{
    font-size: 1.25rem;
}
.about-list{
    list-style: none;
    font-size: 1.25rem;
    
}
.about-list span{
    font-size: 2rem;
    color: #3498db;
}
.btn-about{ 
    margin: 1rem;   
    background: #d3be00 !important;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}
.btn-about a{
    text-decoration: none;
}
.btn-about:hover a{
    color: #3f98fd !important;
}
.circle-since{
    position: relative;
}

.circle{    
    position: absolute;
    align-items: center;
    top: 10%;
    background: rgb(43, 42, 42);
    border-radius: 100%;
    width: 100px;
    height: 100px;    
    box-shadow: 5px 2px 3px rgba(0,0,0, 0.5);
}
.circle::before{
    position: absolute;
    content: "";
    height: 100px;
    width: 5px;
    background: #d3be00;
    top: 10%;
    left: -30px;
    border-radius: 10px;
}
.since{
    font-size: 1.25rem;
    font-weight: 600;
    position: absolute; 
    top: 23px;  
    left: 22%;
    color: #d3be00;
}
@media screen and (max-width:992px){
    .about-img-1, .about-img-2{
        position:relative;
        margin-top: 10px;
        margin-left: 20px;
        top: 0;
    }
    .about-img{
        flex-direction: column;
    }
    .about-item h1{
        padding-top: 1rem;
        font-size: 2.5rem;
        letter-spacing: -3px;        
    }
}

@media screen and (max-width:576px){
    .about-item h1{
        padding-top: 1rem;
        font-size: 2rem;
        letter-spacing: -3px;        
    }
    .about-item h3{
        font-size: 1.125rem;
    }
    .about-item p{
        font-size: 1rem;
    }
    .about-list{        
        font-size: 1rem;       
    }
}
/* Services */

#services{
    background: #313131;
    margin: 5rem 0;
    padding-bottom: 5rem;
}
.service-header h1{
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 700;
    color: #d3be00;
    text-align: center;
}
.service-card{
    width: 20% !important;
    height: 450px;
    background: #181818;
    border-radius: 5px;
    margin: 1rem 0.5rem;
    display: flex;    
    flex-direction: column;
    align-items: left;     
    padding: 2rem 3rem;  
    color: rgba(133, 132, 132, 0.8); 
    transition: ease 0.5s;
}
.service-card h3{
    font-size: 1.75rem; 
    font-weight: 600;   
    padding-left: 1rem;
    color: #fff;
}
.service-card p{
    line-height: 1.5rem;
    font-size: 1.25rem;
    color: #7a7a7a;
    padding: 0 1rem;
}
@media screen and (max-width:992px){
    .service-card{
        width:45% !important;
    }
}
@media screen and (max-width:768px){
    .service-card{
        width:100% !important;
    }
}
.service-card img{
    width: 5rem;
    height: 5rem;    
    margin: 1rem 2rem;   
    z-index: 100;
}
.service-card:hover{
    background: #d3be00;
}
.card-link{   
    text-decoration: none;
    font-size: 1.5rem;
    padding: 2rem 1rem;
    display: none;
    text-align: right;
      
}
.service-card:hover .card-link{
    display: block;
    color: #3498db !important;
}
@media screen and (max-width:1200px) {
    .service-card h3{
        font-size: 1.5rem;
       padding-left: 1rem;
    }
    .service-card img{
        width: 4rem;
        height: 4rem;
    }
    .service-card p{
        line-height: 1.8rem;
        font-size: 1.125rem;
        margin-bottom: 1rem;
        padding-left: 1rem;
    }        
    .card-link{
        padding: 1rem;
    }
    .service-card{
        padding-bottom: 1rem;
    }
}@media screen and (max-width:992px){
    .service-card{
        height: auto;
    }
}

/* Section expirience  */
.exp-header{
    color: #d3be00;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.exp-img{
    position: relative;
    display: flex;
    background-image: url(img/group-team.jpg);
    width: auto;
    height: 600px;
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-radius: 5px; 
    background-size: cover;   
}
.exp-circle{   
    display: block; 
    width: 550px;
    height: 550px;
    top: 4%;
    position: absolute;
    border-radius: 100%;
    background: #d3be00;
    background-size: cover;
    left: 60%;
    box-shadow:-50px -50px 1px rgba(0,0,0, 0.3) ;
    z-index: 10;
    clip-path: inset(-4% 13% 0 -15%);
}


.exp-circle h2{
    position: relative;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 220px;
    margin-left: 50px;
}
@media screen and (max-width:1200px) {
    .exp-circle{
        width: 430px;
        height: 430px;
    }
    .exp-circle h2{
        margin-top: 150px;
    }
}
@media screen and (max-width:992px) {
    .exp-circle{
        width: 350px;
        height: 350px;
        left: 55%;
    }
    .exp-circle h2{
        margin-top: 150px;
        font-size: 1.85rem;
        margin-left: 15px;
    }
    
}
@media screen and (max-width:768px) {
    .exp-circle{
        visibility: hidden;
    }
    .exp-circle h2{
        margin-top: 150px;
        font-size: 1.85rem;
        margin-left: 15px;
    }
    #experience{
        overflow: hidden;
    }
    .exp-header{
        font-size: 2rem;
    }
    
}